@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d3864;
    min-height: 100vh;
}

.wrapper {
    max-width: 700px;
    background: #fff;
    border-radius: 2px 15px 2px 15px;
    padding: 25px 25px 20px;
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 28px 0;
}

.content .quote-section {
    display: flex;
    justify-content: center;
}

.quote-section i {
    font-size: 15px;
}

.quote-section i:first-child {
    margin: 2px 8px 0 0;
}
.quote-section i:last-child {
    margin: 0 0 2px 8px;
    display: flex;
    align-items: flex-end;
}
.content .quote {
    font-size: 20px;
    word-break: break-all;
    text-align: center;
}
.content .author {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    margin-top: 18px;
    font-style: italic;
}

.content span:first-child {
    margin: -7px 6px 0 0;
    font-family: monospace;
}

.wrapper .icons {
    border-top: 1px solid #ccc; 
}

.icons .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.left ul{
    display: flex;
}

.left ul li {
    display: flex;
    margin: 0 5px;
    height: 35px;
    width: 35px;
    color: #2d3864;
    border: 2px solid #2d3864;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.left ul li:hover {
    color: #fff;
    background: #2d3864;
}

.features button {
    outline: none;
    border: none;
    background: #2d3864;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.7s ease;
}

button.loading{
    opacity: 0.8;
    pointer-events: none;
}